<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="stud" class="com.component.Student">
		<constructor-arg index="1" value="32" />
		<constructor-arg index="0" value="2" />
		<constructor-arg index="2" value="21" />
	</bean>
	<bean id="emp" class="com.component.Employee">
		<constructor-arg value="shiv" type="java.lang.String"/>
		<constructor-arg value="213243.54" type="float"/>
		<constructor-arg value="1234" type="int"/>
	</bean>
</beans>        