<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="stud" class="com.component.Student">
		<!-- <property name="sName" value="shivendra" /> -->
		<!-- <property name="age" value=31 />
		<property name="address" value="Ravindra Nagar" />
		<property name="grade" value="A" />
		-->

		<constructor-arg name="sName" value="Ram" />
		<constructor-arg name="age" value="32" />
		<constructor-arg name="address"
			value="Vicekanand Nagar" />
		<constructor-arg name="grade" value="A++" />
	</bean>
</beans>        